{%- comment -%}SIMPLE IMAGE TEXT OVERLAY SECTION{%- endcomment -%}

{%- assign sec = section.settings -%}
<div class="simple-image-text-overlay pt-10">
    <img src={{ section.settings.test_image | img_url: 'medium' }} />
    <div>
        <h3>{{ sec.overlay_title }}</h3>
        <div>
            {{ sec.overlay_subtext }}
        </div>
    </div>
</div>

{%- schema -%}
{
 "name": "Image Text Overlay",
 "class": "index-section",
 "settings": [
    {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image" 
    },
    {
        "type": "text",
        "id": "overlay_title",
        "label": "Overlay Title",
        "default": "This is the overlay title",
        "info": "This is where you enter copy for this sections title",
        "placeholder": "Enter your title..."
    },
    {
        "type": "richtext",
        "id": "overlay_subtext",
        "label": "Overlay Sub Text",
        "default": "<p>Enter your overlay subtext</p>",
        "info": "This is where you enter copy for this sections richtext"
    }
 ],
 "presets": [
     {
         "category": "Text",
         "name": "Image Text Overlay" 
     }
 ]
}
{%- endschema -%}